<main class="h-[85%]">
    <header class="flex items-center justify-start p-8 pb-4 border border-b  border-border-color gap-5">
        <button>
            <icon-arrow-left />
        </button>
        <div class="status">
            <p class="text-primary-color font-bold">Fox Airlines</p>
            <span class="text-online-color font-medium">• Online</span>
        </div>
        <img src="/assets/chatairplane.png" class="w-[45px] h-[40px] absolute right-0 mr-5 border border-red-300 rounded-full" alt="">
    </header>
    <section class="h-full p-8 pt-5 pb-9">
        <chat-insights (questionSelected)="sendSuggestedQuestion($event)" 
            *ngIf="messages.length === 0"
        />
        <chat-dialog [messages]="messages" />
    </section>
</main>